<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
	<array>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
        </dict>

		<dict>
			<key>cell</key>				<string>PSSwitchCell</string>
			<key>defaults</key>			<string>com.insanj.colendar</string>
            <key>label</key>               <string>Enabled</string>
			<key>key</key> 				<string>disabled</string>
            <key>negate</key>              <true/>
            <key>default</key> 			<false/>
		</dict>

		<dict>
			<key>cell</key>            <string>PSGroupCell</string>
			<key>label</key>		   <string>Weekday</string>
			<key>footerText</key>      <string>Change the top weekday text color.</string>
		</dict>

		<dict>
			<key>cell</key>  		<string>PSLinkListCell</string>
			<key>defaults</key>      <string>com.insanj.colendar</string>
            <key>detail</key> 	   <string>CLListItemsController</string>
            <key>key</key> 		  <string>weekdayColor</string>
            <key>id</key> 		   <string>WeekdayColor</string>
            <key>label</key> 		<string>Text Color</string>
            <key>staticTextMessage</key> <string>Choose a color preset, or clear to remove the label.</string>
            <key>validTitles</key> <array>
                <string>Baby Blue</string>
                <string>Beige</string>
                <string>Blue</string>
				<string>Brown</string>
                <string>Charcoal</string>
    		    <string>Clear</string>
                <string>Cream</string>
			    <string>Gold</string>
			    <string>Gray</string>
			    <string>Green</string>
                <string>Light Blue</string>
                <string>Light Green</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Neon Blue</string>
                <string>Neon Green</string>
                <string>Neon Orange</string>
                <string>Neon Pink</string>
                <string>Neon Purple</string>
                <string>Neon Red</string>
                <string>Neon Yellow</string>
			    <string>Orange</string>
			    <string>Pink</string>
			    <string>Purple</string>
			    <string>Red</string>
                <string>Silver</string>
                <string>Turquoise</string>
			    <string>White</string>
			    <string>Yellow</string>
			</array>

			<key>validValues</key> <array>
			    <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
                <integer>19</integer>
                <integer>20</integer>
                <integer>21</integer>
                <integer>22</integer>
                <integer>23</integer>
                <integer>24</integer>
                <integer>25</integer>
                <integer>26</integer>
                <integer>27</integer>
                <integer>28</integer>
			</array>
		</dict>

        <dict>
            <key>cell</key>  	    	<string>PSLinkListCell</string>
            <key>staticTextMessage</key> <string>Choose a custom font from all available iOS UIFonts.</string>
            <key>defaults</key>          <string>com.insanj.colendar</string>
            <key>detail</key> 	       <string>CLFontItemsController</string>
            <key>key</key> 		      <string>weekdayFont</string>
            <key>id</key> 		       <string>WeekdayFont</string>
            <key>label</key> 	    	<string>Font</string>
            <key>titlesDataSource</key>  <string>fontsTitles:</string>
            <key>valuesDataSource</key>  <string>fontsValues:</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>label</key>		   <string>Date</string>
            <key>footerText</key>      <string>Change the bottom date text color.</string>
        </dict>

        <dict>
            <key>cell</key>  		<string>PSLinkListCell</string>
            <key>defaults</key>      <string>com.insanj.colendar</string>
            <key>detail</key> 	   <string>CLListItemsController</string>
            <key>key</key> 		  <string>dateColor</string>
            <key>id</key> 		   <string>DateColor</string>
            <key>label</key> 		<string>Text Color</string>
            <key>staticTextMessage</key> <string>Choose a color preset, or clear to remove the label.</string>
            <key>validTitles</key> <array>
                <string>Baby Blue</string>
                <string>Beige</string>
                <string>Blue</string>
                <string>Brown</string>
                <string>Charcoal</string>
                <string>Clear</string>
                <string>Cream</string>
                <string>Gold</string>
                <string>Gray</string>
                <string>Green</string>
                <string>Light Blue</string>
                <string>Light Green</string>
                <string>Maroon</string>
                <string>Navy</string>
                <string>Neon Blue</string>
                <string>Neon Green</string>
                <string>Neon Orange</string>
                <string>Neon Pink</string>
                <string>Neon Purple</string>
                <string>Neon Red</string>
                <string>Neon Yellow</string>
                <string>Orange</string>
                <string>Pink</string>
                <string>Purple</string>
                <string>Red</string>
                <string>Silver</string>
                <string>Turquoise</string>
                <string>White</string>
                <string>Yellow</string>
            </array>

            <key>validValues</key> <array>
                <integer>0</integer>
                <integer>1</integer>
                <integer>2</integer>
                <integer>3</integer>
                <integer>4</integer>
                <integer>5</integer>
                <integer>6</integer>
                <integer>7</integer>
                <integer>8</integer>
                <integer>9</integer>
                <integer>10</integer>
                <integer>11</integer>
                <integer>12</integer>
                <integer>13</integer>
                <integer>14</integer>
                <integer>15</integer>
                <integer>16</integer>
                <integer>17</integer>
                <integer>18</integer>
                <integer>19</integer>
                <integer>20</integer>
                <integer>21</integer>
                <integer>22</integer>
                <integer>23</integer>
                <integer>24</integer>
                <integer>25</integer>
                <integer>26</integer>
                <integer>27</integer>
                <integer>28</integer>
            </array>
        </dict>

        <dict>
            <key>cell</key>  	    	<string>PSLinkListCell</string>
            <key>staticTextMessage</key> <string>Choose a custom font from all available iOS UIFonts.</string>
            <key>defaults</key>          <string>com.insanj.colendar</string>
            <key>detail</key> 	       <string>CLFontItemsController</string>
            <key>key</key> 		      <string>dateFont</string>
            <key>id</key> 		       <string>DateFont</string>
            <key>label</key> 	    	<string>Font</string>
            <key>titlesDataSource</key>  <string>fontsTitles:</string>
            <key>valuesDataSource</key>  <string>fontsValues:</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
            <key>footerText</key>      <string>Requires no respring or reconfiguration.</string>
        </dict>

        <dict>
            <key>cell</key> 		 <string>PSButtonCell</string>
            <key>label</key> 	    <string>Apply Changes</string>
            <key>action</key> 	   <string>apply</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cell</key>	          <string>PSGroupCell</string>
            <key>label</key> 	    	<string>Advanced</string>
            <key>footerText</key>		<string>You may want to alter or check your theme preferences to match Colendar.</string>
        </dict>

		<dict>
			<key>cell</key>			    <string>PSLinkCell</string>
			<key>detail</key>		      <string>CLAdvPrefsListController</string>
			<key>isController</key>    	<true/>
			<key>label</key>		       <string>Adjustments</string>
		</dict>

        <dict>
            <key>cell</key>          <string>PSLinkCell</string>
            <key>cellClass</key>     <string>CLWinterBoardButtonCell</string>
            <key>label</key> 	    <string>Open WinterBoard</string>
            <key>action</key> 	   <string>winterboard</string>
        </dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
        </dict>

        <dict>
			<key>cell</key>	          <string>PSGroupCell</string>
			<key>label</key>             <string>Credits</string>
            <key>footerAlignment</key>   <integer>1</integer>
            <key>footerText</key>		<string>Thanks for using Colendar (1.1) by Julian Weiss and Jason Kesler. Please send all feedback directly from Cydia.</string>
		</dict>

        <dict>
            <key>cell</key> 		 <string>PSButtonCell</string>
            <key>cellClass</key> 	<string>CLButtonShiftTopCell</string>
            <key>label</key> 	    <string>Developer (@insanj)</string>
            <key>icon</key> 		 <string>twitter.png</string>
            <key>action</key> 	   <string>insanj</string>
        </dict>

		<dict>
			<key>cell</key> 		 <string>PSButtonCell</string>
            <key>cellClass</key> 	<string>CLButtonShiftBottomCell</string>
			<key>label</key> 	    <string>Idea &amp; Support (@k3levs)</string>
            <key>icon</key> 		 <string>twitter.png</string>
			<key>action</key> 	   <string>k3levs</string>
		</dict>

        <dict>
            <key>cell</key>            <string>PSGroupCell</string>
        </dict>

        <dict>
            <key>cell</key>				<string>PSGroupCell</string>
            <key>footerAlignment</key> 	<integer>1</integer>
            <key>footerText</key>		  <string>© 2014 Julian Weiss</string>
        </dict>

        <dict>
            <key>cell</key> 		 <string>PSButtonCell</string>
            <key>label</key> 	    <string>More Info Online</string>
            <key>icon</key> 		 <string>safari.png</string>
            <key>action</key> 	   <string>website</string>
        </dict>

	</array>
	<key>title</key>	<string>Colendar</string>
</dict>

</plist>
