Package: com.insanj.colendar
Name: Colendar
Depends: mobilesubstrate
Version: 1.0
Architecture: iphoneos-arm
Description: Dynamically colorize your Calendar icon.
Maintainer: Julian Weiss <insanjmail@gmail.com>
Author: Julian (insanj) Weiss
Section: Tweaks
Icon: file:///Library/PreferenceBundles/CLPrefs.bundle/icon.png
